In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [8]:
from pyspark.sql.types import *

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
data_schema = [
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
]

In [12]:
schema = StructType(fields=data_schema)

In [13]:
df = spark.read.json('people.json', schema=schema)

In [14]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df['age']

Column<b'age'>

In [15]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [16]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
df.withColumn('new_age', df['age']).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     30|
|  19| Justin|     19|
+----+-------+-------+

In [19]:
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [20]:
df.createOrReplaceTempView('people')

In [21]:
results = spark.sql('''
    SELECT *
    FROM people
''')

In [23]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
spark.sql('''
    SELECT *
    FROM people
    WHERE age = 30
''').show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+